/* hides the native tabs */
#main-window[tabsintitlebar="true"]:not([extradragspace="true"]) #TabsToolbar > .toolbar-items {
  opacity: 0;
  pointer-events: none;
}

/* hides sidebar header */
#sidebar-header {
	visibility: collapse  !important;
}

/*
   Override hiding of Bookmarks Toolbar in F11 full screen
   when you roll down the tabs/main toolbar 
*/
#navigator-toolbox[inFullscreen="true"] #PersonalToolbar {
  visibility: unset !important;
}
