:root {
  --sidebar-hover-width: 10px;
  --sidebar-visible-width: 200px;
}


/* hides the native tabs */
#main-window[tabsintitlebar="true"]:not([extradragspace="true"]) #TabsToolbar > .toolbar-items {
  opacity: 0;
  pointer-events: none;
}

/* hides sidebar header */
#sidebar-header {
	visibility: collapse  !important;
}


/*
   Override hiding of Bookmarks Toolbar in F11 full screen
   when you roll down the tabs/main toolbar 
*/
#navigator-toolbox[inFullscreen="true"] #PersonalToolbar {
  visibility: unset !important;
}


	/*

#sidebar-box {
  position: relative !important;
  overflow-x: hidden !important;
  margin-right: calc(var(--sidebar-hover-width) * -1) !important;
  left: var(--sidebar-hover-width) !important;
  min-width: var(--sidebar-hover-width) !important;
  max-width: var(--sidebar-hover-width) !important;
  opacity: 1 !important;
}

#sidebar-box:hover {
  margin-right: calc(var(--sidebar-visible-width) * -1) !important;
  left: var(--sidebar-visible-width) !important;
  min-width: var(--sidebar-visible-width) !important;
  max-width: var(--sidebar-visible-width) !important;
  opacity: 1 !important;
}

#sidebar {
  opacity: 1 !important;
}

#sidebar:hover {
  opacity: 1 !important;
}


/* #sidebar-header is hidden by default, change "none" to "inherit" to restore it.
#sidebar-header {
  display: none !important;
} 

/* #sidebar-splitter styles the divider between the sidebar and the rest of the browser.
#sidebar-splitter {
}

	*/
